@for (course of courses(); track course.id) {
<div class="course-card">
  <h2 class="course-header">
    <span class="course-title">{{ course.title }}</span>
  </h2>
  <img class="course-image" [src]="course.iconUrl" [alt]="course.title" />
  <div class="course-description">
    <p>{{ course.longDescription }}</p>
  </div>
  <div class="course-actions">
    <button class="btn" [routerLink]="['courses', course.id]">
      VIEW COURSE
    </button>
    <button class="btn" (click)="onEditCourse(course)">EDIT</button>
    <img
      class="delete"
      (click)="onDeleteCourse(course.id)"
      src="/assets/icons/delete.svg"
      alt="delete"
    />
  </div>
</div>
}
